.products {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    background-color: #fffaf6;
    border: 1px solid #f2e5da;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.products-header span {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

.products-header a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.products-header a:hover {
    color: #f27a1a;
}

.showcase {
    background-color: #ffffff;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
    border: solid 1px #e6e6e6;
    overflow: hidden;
    border-radius: 6px;
    transition: ease-in-out all .3s;
}

.showcase .showcase-image a {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}

.showcase .showcase-image a img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    transition: ease-in-out all .3s;
}

.showcase .showcase-content {
    padding: 10px;
}

.showcase .showcase-brand {
    margin-bottom: 5px;
}

.showcase .showcase-brand a {
    color: #333;
    font-size: 13px;
    font-weight: 600;
}

.showcase .showcase-title {
    margin-bottom: 5px;
}

.showcase .showcase-title a {
    display: block;
    color: #333;
    font-size: 13px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}

.showcase .showcase-price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 40px;
}

.showcase .showcase-price > div {
    flex: 0 0 100%;
    max-width: 100%;
}

.showcase .showcase-price-old {
    color: #999;
    font-size: 13px;
    line-height: 20px;
    text-decoration: line-through;
}

.showcase .showcase-price-new {
    color: #f27a1a;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.showcase:hover .showcase-image a img {
    transform: scale(1.03);
}


