/* 1440 */
/* 1024 */
/* 992 */
/* 768 */
@media (max-width: 768px) {
    .home-banners .home-banner-item .home-banner-content {
        height: 30px;
        padding: 0 10px;
    }
}
/* 425 */
/* 375 */
/* 325 */
@media (max-width: 325px) {
    .home-banners .home-banner-item a {
        font-size: 12px;
    }
}